@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,300&family=Montserrat:wght@500;600&display=swap');

:root {
  --primary-color: #4ea9cc;
  --font-headings: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-paragraphs);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
  margin: 2rem 0;
  text-transform: uppercase;
}
